#!/usr/bin/env bash

# {{- if eq .chezmoi.os "linux" }}

echo "linuix script"

# install sheldon
if ! command -v sheldon &> /dev/null ; then
    echo "install sheldon"
    curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
        | bash -s -- --repo rossmacarthur/sheldon --to $HOME/.local/bin
fi

# install starshio
if ! command -v starship &> /dev/null ; then
    echo "install starship"
    curl -sS https://starship.rs/install.sh | sh -s -- --bin-dir $HOME/.local/bin -y
fi

# install direnv
if ! command -v direnv &> /dev/null ; then
    echo "install direnv"
    export bin_path="$HOME/.local/bin"
    curl -sfL https://direnv.net/install.sh | bash
fi

# install eza
if ! command -v eza &> /dev/null ; then
    echo "install eza"
    curl -sfL https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz | tar xz
    chmod +x eza
    mv eza $HOME/.local/bin
fi

# install fzf
if ! command -v fzf &> /dev/null ; then
    echo "install fzf"
    curl -sfL https://github.com/junegunn/fzf/releases/download/v0.67.0/fzf-0.67.0-linux_amd64.tar.gz | tar xz
    chmod +x fzf
    mv fzf $HOME/.local/bin
fi

# install kubectl
if ! command -v kubectl &> /dev/null ; then
    echo "install kubectl"
    sudo apt-get update
    sudo apt-get install -y apt-transport-https ca-certificates curl
    sudo curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key -o /usr/share/keyrings/kubernetes-apt-keyring.asc
    echo 'deb [signed-by=/usr/share/keyrings/kubernetes-apt-keyring.asc] https://pkgs.k8s.io/core:/stable:/v1.35/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list
    sudo chmod 644 /etc/apt/sources.list.d/kubernetes.list
    sudo apt-get update
    sudo apt-get install -y kubectl
fi

# install kubie
if ! command -v kubie &> /dev/null ; then
    echo "install kubie"
    curl -sfL https://github.com/sbstp/kubie/releases/download/v0.26.1/kubie-linux-amd64 -o kubie
    chmod +x kubie
    mv kubie $HOME/.local/bin
fi

# install hashicorp terraform, packer
if ! command -v terraform &> /dev/null ; then
    echo "install terraform"
    sudo apt-get update
    sudo apt-get install -y software-properties-common
    sudo curl -sfSL https://apt.releases.hashicorp.com/gpg -o /usr/share/keyrings/hashicorp-archive-keyring.asc
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.asc] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
    sudo apt update
    sudo apt-get install terraform packer -y
fi

# install terragrunt
if ! command -v terragrunt &> /dev/null ; then
    echo "install terragrunt"
    curl -sL https://terragrunt.gruntwork.io/install | bash -s -- -d ~/.local/bin
fi

# {{- end }}
