# zshrc

{{ if eq .chezmoi.os "darwin" }}
FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
{{ else if eq .chezmoi.os "linux" }}

if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi
{{ end }}

export EDITOR="code --wait"

eval "$(sheldon source)"
