# zshrc

#echo "zshrc"
autoload -Uz compinit && compinit

{{ if eq .chezmoi.os "darwin" }}
# add mac specific stuff here
FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
{{ end }}
FPATH=$HOME/.zfunc:$FPATH

export EDITOR="code --wait"
eval "$(sheldon source)"
