# font
{{- if eq .chezmoi.os "linux" }}
font_family      UDEV Gothic 35NFLG
bold_font        UDEV Gothic 35NFLG Bold
italic_font      UDEV Gothic 35NFLG Italic
bold_italic_font UDEV Gothic 35NFLG Bold Italic
{{- end }}
font_size 16.0
