show_startup_tips false
default_mode "locked"
#pane_frames false
confirm_os_exit false

mouse_mode true
copy_on_select true

keybinds {

    shared {
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Right" { MoveFocus "Right"; }
    }

    shared_except "locked" {
        bind "Esc" { SwitchToMode "locked"; }
    }

    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Ctrl t" { SwitchToMode "tmux"; }
    }

    tmux {
        bind "2" { NewPane "Down"; SwitchToMode "locked"; }
        bind "3" { NewPane "Right"; SwitchToMode "locked"; }
        bind "o" { FocusNextPane;  }
        bind "Up" { MoveFocus "Up"; }
        bind "Down" { MoveFocus "Down"; }
        bind "Left" { MoveFocus "Left"; }
        bind "Right" { MoveFocus "Right"; }
        bind "Esc" { SwitchToMode "locked"; }
        bind "Enter" { SwitchToMode "locked"; }
    }

}
